[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.0.3"
djangorestframework = "*"
django-filter = "*"
panda = "*"
pandas = "*"
pillow = "*"
phonenumbers = "*"
twilio = "*"
gunicorn = "*"
requests = "*"
django-cors-headers = "*"
email-verifier = "*"
bulk-email-verifier = "*"

[dev-packages]

[requires]
python_version = "3.10"
