{% extends 'account/base.html' %}
{% load static %}
{% block title %}Signup | Werifier{% endblock %}
{% block content %}
<!--start wrapper-->
<div class="wrapper" id="app">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent p-3">
      <div class="container-fluid">
        <a href="/"><img src="{% static 'images/Werifier.png' %}" width="140" alt="" /></a>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-7 mx-auto ">
        <div class="card radius-10">
          <div class="card-body p-4">
            <div class="text-center">
              <h4>Sign Up</h4>
              <p>Creat New account</p>
            </div>
            <form class="form-body row g-3" method="post">
              {% csrf_token %}
              <div class="col-6">
                <label class="form-label">First Name</label>
                <input type="text" @keyup="fnameval" v-model="first_name" name="first_name"  class="form-control" v-bind:class="{'is-invalid': finval}">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">Min 3 characters.</div>
              </div>
              <div class="col-6">
                <label class="form-label">Last Name</label>
                <input type="text" @keyup="lnameval" v-model="last_name" name="last_name"  class="form-control" v-bind:class="{'is-invalid': linval}">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">Min 3 characters.</div>
              </div>
              <div class="col-12">
                <label for="inputName" class="form-label">Username</label>
                <input type="text" @keyup="unameval" v-model="username" name="username"  class="form-control" id="inputName" v-bind:class="{'is-invalid': uinval}">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">Min 5 characters.</div>
              </div>
              <div class="col-12">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" @keyup="mailval" v-model="email" name="email"  class="form-control" id="inputEmail" v-bind:class="{'is-invalid': minval}">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">Invalid email address.</div>
              </div>
              <div class="col-12">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" @keyup="pval" v-model="password" name="password"  class="form-control" id="inputPassword" v-bind:class="{'is-invalid': pinval}">
                <div id="validationServerUsernameFeedback" class="invalid-feedback">Min 8 characters.</div>
              </div>
              <div class="col-12 col-lg-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" v-model="checked">
                  <label class="form-check-label" for="flexCheckChecked">
                    I agree the Terms and Conditions
                  </label>
                </div>
              </div>
              <div class="col-12 col-lg-12">
                <div class="d-grid">
                  <button type="button" @click="signup" class="btn btn-primary">
                    <div v-if="signingup">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Signing Up...
                    </div>
                    <div v-else>
                      Sign Up
                    </div>
                  </button>
                </div>
              </div>
              <div class="col-12 col-lg-12 text-center">
                <p class="mb-0">Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
</div>
<!--end wrapper-->
{% endblock %}